/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

html {
  height: 98%;
  margin: 1%;
  background: white;
  overflow-y: hidden;
}

body {
  height: 98%;
  margin: 0;
  background-image: -ms-radial-gradient(left top, ellipse farthest-corner, rgba(103,176,255,1) 0%, rgba(10,79,156,1) 70%);
  background-image: -moz-radial-gradient(left top, ellipse farthest-corner, rgba(103,176,255,1) 0%, rgba(10,79,156,1) 70%);
  background-image: -o-radial-gradient(left top, ellipse farthest-corner, rgba(103,176,255,1) 0%, rgba(10,79,156,1) 70%);
  background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(0, rgba(103,176,255,1)), color-stop(70, rgba(10,79,156,1)));
  background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, rgba(103,176,255,1) 0%, rgba(10,79,156,1) 70%);
  background-image: radial-gradient(ellipse farthest-corner at left top, rgba(103,176,255,1) 0%, rgba(10,79,156,1) 70%);
  display: flex;
  position: relative;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
}

p {
  position: unset !important;
  padding: 2%;
}

div {
   display: inline-block;
}

#title-lines1 {
    border-style: solid;
    border-color: #729ecd;
    border-width: 1px;
    background: #729ecd;
    height: 20%;
    top: 0px;
	position: absolute;
}

#title-lines2 {
    border-style: solid;
    border-color: #729ecd;
    border-width: 1px;
    background: #729ecd;
    height: 20%;
    bottom: 0px;
    position: absolute;
}

#game-container {
    border-style: solid;
    border-color: white;
	border-width: 5px;
    width: 660px;
    height: 410px;
}

#title1 {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 26px;
  width: 100%;
  text-align: center;
}

#title2 {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 26px;
  width: 100%;
  text-align: center;
}

#circle1 {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #337ac8;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 40px;
  background-color: white;
  text-align:center;  
}

#circle2 {
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #337ac8;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto 40px;
  background-color: white;
  text-align:center;  
}

.line-border {
    border-style: solid;
    border-color: #729ecd;
    border-width: 1px;
    background: #729ecd;
    width: 75%;
}

#hits1 {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 14px;
  width: 80%;
  font-weight: 300;
  text-align: right;
  line-height: 30px;
  float: left;
  margin-top: -6px;
}

#hits2 {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 14px;
  width: 80%;
  text-align: left;
  line-height: 30px;
  font-weight: 300;
  float: left;
}

#total1 {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 24px;
  width: 20%;
  font-weight: 400;
  text-align: center;
  float: left;
  line-height:60px;
  margin-top: -5px;
}

#total2 {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 24px;
  width: 20%;
  font-weight: 400;
  text-align: center;
  float: left;
  line-height:60px;
}

#message1 {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 14px;
  width: 75%;
  font-weight: 300;
  text-align: right;
  margin-top: -16px;
}

#message2 {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 14px;
  width: 75%;
  font-weight: 300;
  text-align: right;
  float: left;
  margin-top: -34px;
}

#message3 {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 14px;
  width: 75%;
  font-weight: 300;
  text-align: left;
  float: right;
  margin-top: -14px;
}

#message4 {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 14px;
  width: 75%;
  font-weight: 300;
  text-align: left;
  float: right;
  margin-top: -16px;
}

#yes a {
    color: #ff3b3d;
    font-family: Roboto;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 16px;
}

#no a {
    color: #6acaff;
    font-family: Roboto;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 16px;
}

#winner {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 46px;
  width: 100%;
  text-align: center;
  height:50px;
}

#congrats, #playAgain {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  letter-spacing: 6px;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

